<div class ="slides-show">
    <%=link_to "Back to document", document_path(params[:document_id]), class: "link"%>
	 </br>

   <div class="slide-container">
	  	<%= image_tag "/uploads/#{@document.id}/#{@slide.file_path}", class: "slide" %>
	    <% if !@prev_slide %>
          <%= link_to image_tag('prev.png'), document_slide_path(params[:document_id], @index - 1), class: "prev-slide", :style => "visibility: hidden"%>
 		<% else %>
 		  <%= link_to image_tag('prev.png'), document_slide_path(params[:document_id], @index - 1), class: "prev-slide", id:"prev" %>
		<% end %>


		<% if !@next_slide %>
	    	<%= link_to image_tag('next.png'), document_slide_path(params[:document_id], @index + 1), class: "next-slide", :style => "visibility: hidden" %>
	    <% else %>
	    	<%= link_to image_tag('next.png'), document_slide_path(params[:document_id], @index + 1), class: "next-slide", id:"next" %>

		<% end %>
	</div>
  	  <h3 style="text-align:center;padding-top:20px"><%= params[:number] %> / <%=@document.slides.count %> </h3>

	   <br>
	  <div class="box">
	    <div class= "likes">
			<%= render :partial => 'likes/list', :locals => { :likable => @slide } ,class: "slide-likes" %>
		</div>
		<div class= "comments">
			<%= render :partial => 'comments/list', :locals => { :commentable => @slide } %>
		</div>
	  </div>


</div>
