<h3><%= @comments.count %> comments</h3>
<hr>
<% @comments.each do |comment| %>
  <label><strong><%= comment.username %></strong></label>
  <small><%= time_ago_in_words comment.created_at %></small>
  <p><%= comment.text %></p>
  <hr>
<% end %>

<%= form_for :comment, action: :create do |f| %>
  <h4>Leave a comment...</h4>
  <div>
    <label>username</label>
    <div><%= f.text_field :username %></div>
  </div>
  <div>
    <label>text</label>
    <div><%= f.text_area :text %></div>
  </div>
  <%= f.submit "Send" %>
<% end %>
