<h3><%= @document.name %></h3>
<p><%= @document.slides.count %> slides</p>

<% @document.slides.each_with_index do |slide, index| %>
	<%= link_to image_tag(slide.file_path), document_slide_path(@document.id, index + 1) %>
<% end %>

<%= render :partial => 'comments/list', :locals => { :commentable => @document } %>
<%= render :partial => 'likes/list', :locals => { :likable => @document } %>
