<div class="title"><%= @document.name %> - <%= @document.slides.count %>  Slides</div>

<div class="card-container">
	<% @document.slides.each_with_index do |slide, index| %>
	<div class="card" style="background-image: url(<%= slide.file_path %>)">
		<a href="<%= document_slide_path(@document.id, index + 1) %>">
			<div><%= index + 1 %></div>
		</a>
	</div>
	<% end %>
</div>

<%= render :partial => 'comments/list', :locals => { :commentable => @document } %>
