<div class="title"><%= @document.name %> - <%= @document.slides.count %>  Slides</div>

<div class="card-container">
	<% @document.slides.each_with_index do |slide, index| %>
		<%= render :partial => "partials/card" , locals: { :background => "/uploads/#{@document.id}/thumbnails/#{slide.file_path}", :url =>  document_slide_path(@document.id, index + 1), :title =>  index + 1 } %>
	<% end %>
</div>

<%= render :partial => 'comments/list', :locals => { :commentable => @document } %>
<%= render :partial => 'likes/list', :locals => { :likable => @document } %>
