
<!DOCTYPE html>
<html>
<head>
  <title>Slyde</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  
</head>
<body>

<div class="header">
  <%= link_to (image_tag "logo-small.png") , documents_path %>
  <div style="float:right;padding-top: 7px;">
    <% if logged_in? %>
          <span><%= current_user.name %></span>
          <%= link_to "Logout", logout_path, method: :delete, id: "logout" %>
    <% else %>
        <%= form_for(:user, url: sessions_path) do |f| %>
          <span><%= f.text_field :email, required: true, placeholder: "Email" %></span>
          <span><%= f.password_field :password, required: true, placeholder: "Password" %></span>
          <%= f.submit("Login") %>
        <% end %>
    <% end %>
  </div>
</div>


<%= yield %>
</body>
</html>
